mixin section(title)
	section.section
		.container.has-text-centered
			.content
				h1.dynamicHeader= title
				block

mixin parallax(speed, picSrc)
	section.hero.is-fullheight.parallax-window(
		data-parallax="scroll",
		data-image-src=picSrc,
		data-speed=speed)
		.hero-body
			.container.is-fluid.has-text-centered
				block

mixin dynamicSection(identifier)
	section.section
		.container.has-text-centered
			.content
				h2.dynamicHeader(class="dynamicHeader-" + identifier)= title
				p.dynamicContent(class="dynamicContent-" + identifier)
				block

mixin dynamicHeroBody(identifier)
	h1.title.is-1.dynamicHeroBody(class="dynamicHeroBody-" + identifier)
	block